<th:block th:fragment="audtable">
    <div class="bgc-w box box-primary">
        <!--盒子头-->
        <div class="box-header">
            <h3 class="box-title">
                <a href="" class="label label-success" style="padding: 5px;">
                    <span class="glyphicon glyphicon-refresh"></span> 刷新
                </a>
            </h3>
            <div class="box-tools">
                <div class="input-group" style="width: 220px;">
                    <input id="find" type="text" class="form-control input-sm cha baseKey "
                       th:value="${baseKey}"    placeholder="标题，申请人，类型，状态查询"/>
                    <div class="input-group-btn chazhao">
                        <a class="btn btn-sm btn-default baseKetsubmit"><span
                                class="glyphicon glyphicon-search"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!--盒子身体-->
        <div class="box-body no-padding">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th scope="col">类型</th>
                        <th scope="col">标题</th>
                        <th scope="col">申请人</th>
                        <th scope="col">申请时间</th>
                        <th scope="col">紧急程度</th>
                        <th scope="col">状态</th>
                        <th scope="col">操作</th>
                    </tr>

                    <tr th:if="${prolist?.size() gt 0}" th:each="pro: ${prolist}">

                        <td>[[${pro?.typename}]]</td>
                        <td><span>[[${pro?.title}]]</span></td>
                        <td><span>[[${pro?.pushuser}]]</span></td>
                        <td><span>[[${#dates.format(pro?.applytime, 'yyyy-MM-dd HH:mm:ss')}]]</span></td>
                        <td><span>[[${pro?.harry}]]</span></td>
                        <td><span class="label" th:classappend="${pro?.statuscolor}">[[${pro?.statusname}]]</span></td>
                        <td><a th:href="@{'auditing?id='+${pro?.proid}}" class="label sheding"><span
                                class="glyphicon glyphicon-zoom-in"></span> 审核</a>
                            <a th:href="@{'particular?id='+${pro?.proid}+'&typename='+${pro?.typename}}"
                               class="label xiugai"><span
                                    class="glyphicon glyphicon-search"></span> 查看</a>
                            <a th:if="${pro?.statusname=='未通过' || pro?.statusname=='已批准'}"
                               th:href="@{'sdelete?id='+${pro?.proid}}"
                               onclick="{return confirm('删除该记录将不能恢复，确定删除吗？');};" class="label shanchu">
                                <span class="glyphicon glyphicon-remove"></span> 删除</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <!--盒子尾-->
        <div th:replace="common/paging :: paging"></div>

    </div>

    <script>
		/* 分页插件按钮的点击事件 */
		$(function() {
	    $("#find").keydown(function () {
            if (window.event.keyCode==13) {
             $(".baseKetsubmit").trigger("click");
            }
        });
		$('.baseKetsubmit').on('click',function(){
			var baseKey=$('.baseKey').val();
			$(".thistable").load("serch", {baseKey : baseKey});
		});
    })


    </script>
</th:block>