<html th:fragment="roletable" xmlns:th="http://www.thymeleaf.org">
<div class="bgc-w box box-primary">
    <!--盒子头-->
    <div class="box-header">
        <h3 class="box-title">
            <a href="addrole" class="label label-success" style="padding: 5px;">
                <span class="glyphicon glyphicon-plus"></span> 新增
            </a>
        </h3>
        <div class="box-tools">
            <div class="input-group" style="width: 150px;">
                <input id="find" type="text" class="form-control input-sm baseKey"
                       placeholder="查找..." />
                <div class="input-group-btn">
                    <a class="btn btn-sm btn-default baseKeySubmit"><span
                            class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
        </div>
    </div>
    <!--盒子身体-->
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>

                    <th scope="col">名称</th>
                    <th scope="col">权限值</th>
                    <th scope="col">操作</th>
                </tr>
                <tr th:each="item,status: ${rolelist}">
                    <td><span>[[${item?.roleName}]]</span></td>
                    <td th:if="${not #strings.isEmpty(item?.roleValue)}"><span>[[${item?.roleValue}]]</span></td>
                    <td th:if="${#strings.isEmpty(item?.roleValue)}"><span>0</span></td>
                    <td>
                        <a th:href="@{'roleset?id='+${item?.roleId}}" class="label sheding">
                            <span class="glyphicon glyphicon-asterisk"></span> 设定</a>
                        <a th:href="@{'addrole?id='+${item?.roleId}}" class="label xiugai">
                            <span class="glyphicon glyphicon-edit"></span> 修改</a>
                        <a th:href="@{'deshan?id='+${item?.roleId}}" onclick="{return confirm('删除该记录将不能恢复，确定删除吗？');};"
                           class="label shanchu"><span
                                class="glyphicon glyphicon-remove"></span> 删除</a></td>
                </tr>

            </table>
        </div>
    </div>
    <!--盒子尾-->
    <div th:replace="common/paging :: paging"></div>
</div>

<script type="text/javascript">
$("#find").keydown(function () {
     if (window.event.keyCode==13) {
     $(".baseKeySubmit").trigger("click");
   }
});
$('.baseKeySubmit').on('click',function(){
		var usersearch=$('.baseKey').val();
	$('.thistable').load("roleser?usersearch="+usersearch);
});
</script>