<th:block th:fragment="mytasklist">
<div class="bgc-w box box-primary">
	<!--盒子头-->
	<div class="box-header">
		<h3 class="box-title">
			<a href="addtask" class="label " style="padding: 5px;"> <span
				class="glyphicon glyphicon-plus"></span>
			</a>
		</h3>
		<div class="box-tools">
			<div class="input-group" style="width: 150px;">
				<input id="find" type="text" class="form-control input-sm baseKey cha"
					placeholder="查找..." />
				<div class="input-group-btn chazhao">
					<a class="btn btn-sm btn-default"><span
						class="glyphicon glyphicon-search"></span></a>
				</div>
			</div>
		</div>
	</div>
	<!--盒子身体-->
	<div class="box-body no-padding">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>

						<th scope="col">类型</th>
						<th scope="col">标题</th>
						<th scope="col">发布时间</th>
						<th scope="col">发布人</th>
						<th scope="col">部门</th>
						<th scope="col">状态</th>
						<th scope="col">操作</th>
					</tr>
				</thead>
				<tbody >

					<tr th:each="task: ${tasklist}">

						<td><span>[[${task?.typename}]]</span></td>

						<td><span>[[${task?.title}]]</span></td>
						<td><span>[[${#dates.format(task?.publishtime, 'yyyy-MM-dd HH:mm:ss')}]]</span></td>

						<td><span>[[${task?.username}]]</span></td>
						<td><span>[[${task?.deptname}]]</span></td>
						<td th:if="${task?.cancel==1}"><span class="label label-default">已取消</span></td>

						<td th:if="${task?.cancel!=1}"><span class="label" th:classappend="${task?.statuscolor}">[[${task?.statusname}]]</span></td>

						<td><a th:href="@{'myseetasks?id='+${task?.taskid}}"
							class="label xiugai"><span class="glyphicon glyphicon-search"></span>
								查看</a> <a th:if="${task?.cancel==1}"
								th:href="@{'myshanchu?id='+${task?.taskid}}"
								onclick="{return confirm('删除该记录将不能恢复，确定删除吗？');};"
								class="label shanchu"><span
								class="glyphicon glyphicon-remove"></span> 删除</a> </td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
	<!--盒子尾-->
	<div th:replace="common/paging :: paging"></div>
</div>
<script>
	$(function() {
	$("#find").keydown(function () {
     if (window.event.keyCode==13) {
     $(".chazhao").trigger("click");
   }
});

		$(".chazhao").click(function() {
			var con = $(".cha").val();
			$(".thistable").load("mychaxun", {title : con});
		});
	})
</script>
</th:block>