<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oasys.web.model.dao.mail.AoaInMailListMapper">
  <resultMap id="BaseResultMap" type="cn.oasys.web.model.pojo.mail.AoaInMailList">
    <id column="mail_id" jdbcType="BIGINT" property="mailId" />
    <result column="mail_create_time" jdbcType="TIMESTAMP" property="mailCreateTime" />
    <result column="mail_file_id" jdbcType="BIGINT" property="mailFileId" />
    <result column="mail_title" jdbcType="VARCHAR" property="mailTitle" />
    <result column="mail_type" jdbcType="BIGINT" property="mailType" />
    <result column="mail_in_push_user_id" jdbcType="BIGINT" property="mailInPushUserId" />
    <result column="in_receiver" jdbcType="VARCHAR" property="inReceiver" />
    <result column="mail_status_id" jdbcType="BIGINT" property="mailStatusId" />
    <result column="mail_number_id" jdbcType="BIGINT" property="mailNumberId" />
    <result column="mail_del" jdbcType="INTEGER" property="mailDel" />
    <result column="mail_push" jdbcType="INTEGER" property="mailPush" />
    <result column="mail_star" jdbcType="INTEGER" property="mailStar" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.oasys.web.model.pojo.mail.AoaInMailList">
    <result column="mail_content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <sql id="Base_Column_List">
    mail_id, mail_create_time, mail_file_id, mail_title, mail_type, mail_in_push_user_id, 
    in_receiver, mail_status_id, mail_number_id, mail_del, mail_push, mail_star
  </sql>
  <sql id="Blob_Column_List">
    mail_content
  </sql>
<select id="findOne" resultMap="ResultMapWithBLOBs">
  select
  <include refid="Base_Column_List"></include>,
  <include refid="Blob_Column_List"></include>
  from aoa_in_mail_list where mail_id=#{id}
</select>
<select id="findByMailUseridAndMailId" resultMap="ResultMapWithBLOBs">
  select
  <include refid="Base_Column_List"></include>,
  <include refid="Blob_Column_List"></include>
  from aoa_in_mail_list where mail_id=#{mid} and mail_in_push_user_id=#{uid}
</select>
<select id="findByPushAndDelAndMailUserid" resultMap="ResultMapWithBLOBs">
  select
  <include refid="Base_Column_List"></include>,
  <include refid="Blob_Column_List"></include>
  from aoa_in_mail_list where mail_in_push_user_id=#{uid} and mail_del=#{del} and mail_push=#{push}
</select>
<select id="findByObjOrderByMailCreateTimeDesc" resultMap="ResultMapWithBLOBs">
  select
  <include refid="Base_Column_List"></include>,
  <include refid="Blob_Column_List"></include>
  from aoa_in_mail_list where mail_in_push_user_id=#{uid} and mail_del=#{del} and mail_push=#{push}
  <if test="key != null">
    and (mail_title like #{key} or in_receiver like #{key})
  </if>
  <if test="type != null">
    and mail_type =#{type}
  </if>
  order by mail_create_time DESC
</select>
  <insert id="insertSelective" parameterType="cn.oasys.web.model.pojo.mail.AoaInMailList">
    insert into aoa_in_mail_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mailId != null">
        mail_id,
      </if>
      <if test="mailCreateTime != null">
        mail_create_time,
      </if>
      <if test="mailFileId != null">
        mail_file_id,
      </if>
      <if test="mailTitle != null">
        mail_title,
      </if>
      <if test="mailType != null">
        mail_type,
      </if>
      <if test="mailInPushUserId != null">
        mail_in_push_user_id,
      </if>
      <if test="inReceiver != null">
        in_receiver,
      </if>
      <if test="mailStatusId != null">
        mail_status_id,
      </if>
      <if test="mailNumberId != null">
        mail_number_id,
      </if>
      <if test="mailDel != null">
        mail_del,
      </if>
      <if test="mailPush != null">
        mail_push,
      </if>
      <if test="mailStar != null">
        mail_star,
      </if>
      <if test="content != null">
        mail_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mailId != null">
        #{mailId,jdbcType=BIGINT},
      </if>
      <if test="mailCreateTime != null">
        #{mailCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mailFileId != null">
        #{mailFileId,jdbcType=BIGINT},
      </if>
      <if test="mailTitle != null">
        #{mailTitle,jdbcType=VARCHAR},
      </if>
      <if test="mailType != null">
        #{mailType,jdbcType=BIGINT},
      </if>
      <if test="mailInPushUserId != null">
        #{mailInPushUserId,jdbcType=BIGINT},
      </if>
      <if test="inReceiver != null">
        #{inReceiver,jdbcType=VARCHAR},
      </if>
      <if test="mailStatusId != null">
        #{mailStatusId,jdbcType=BIGINT},
      </if>
      <if test="mailNumberId != null">
        #{mailNumberId,jdbcType=BIGINT},
      </if>
      <if test="mailDel != null">
        #{mailDel,jdbcType=INTEGER},
      </if>
      <if test="mailPush != null">
        #{mailPush,jdbcType=INTEGER},
      </if>
      <if test="mailStar != null">
        #{mailStar,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="mailId" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.oasys.web.model.pojo.mail.AoaInMailList">
    update aoa_in_mail_list
    <set>
      <if test="mailCreateTime != null">
        mail_create_time = #{mailCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mailFileId != null">
        mail_file_id = #{mailFileId,jdbcType=BIGINT},
      </if>
      <if test="mailTitle != null">
        mail_title = #{mailTitle,jdbcType=VARCHAR},
      </if>
      <if test="mailType != null">
        mail_type = #{mailType,jdbcType=BIGINT},
      </if>
      <if test="mailInPushUserId != null">
        mail_in_push_user_id = #{mailInPushUserId,jdbcType=BIGINT},
      </if>
      <if test="inReceiver != null">
        in_receiver = #{inReceiver,jdbcType=VARCHAR},
      </if>
      <if test="mailStatusId != null">
        mail_status_id = #{mailStatusId,jdbcType=BIGINT},
      </if>
      <if test="mailNumberId != null">
        mail_number_id = #{mailNumberId,jdbcType=BIGINT},
      </if>
      <if test="mailDel != null">
        mail_del = #{mailDel,jdbcType=INTEGER},
      </if>
      <if test="mailPush != null">
        mail_push = #{mailPush,jdbcType=INTEGER},
      </if>
      <if test="mailStar != null">
        mail_star = #{mailStar,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        mail_content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mail_id = #{mailId,jdbcType=BIGINT}
  </update>
  <delete id="delete">
    delete from aoa_in_mail_list where mail_id =#{id}
  </delete>
</mapper>