<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oasys.web.model.dao.mail.AoaMailnumberMapper">
  <resultMap id="BaseResultMap" type="cn.oasys.web.model.pojo.mail.AoaMailnumber">
    <id column="mail_number_id" jdbcType="BIGINT" property="mailNumberId" />
    <result column="mail_account" jdbcType="VARCHAR" property="mailAccount" />
    <result column="mail_create_time" jdbcType="TIMESTAMP" property="mailCreateTime" />
    <result column="mail_des" jdbcType="VARCHAR" property="mailDes" />
    <result column="mail_type" jdbcType="BIGINT" property="mailType" />
    <result column="mail_user_name" jdbcType="VARCHAR" property="mailUserName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="BIGINT" property="status" />
    <result column="mail_num_user_id" jdbcType="BIGINT" property="mailNumUserId" />


    <association property="aoaTypeList" select="cn.oasys.web.model.dao.system.AoaTypeListMapper.findOneById" column="mail_type"></association>
    <association property="aoaStatusList" select="cn.oasys.web.model.dao.system.AoaStatusListMapper.findOne" column="status"></association>
  </resultMap>

  <sql id="Base_Column_List">
    mail_number_id, mail_account, mail_create_time, mail_des, mail_type, mail_user_name, 
    password, status, mail_num_user_id
  </sql>
  <select id="findByMailUserId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_num_user_id =#{id} order by status ASC , mail_create_time DESC
  </select>
  <select id="findOne" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_number_id = #{id}
  </select>
  <select id="findByMailUserIdOrderByMailType" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_num_user_id =#{id} order by mail_type ASC
  </select>
  <select id="findByMailUserIdOrderByStatus" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_num_user_id =#{id} order by status ASC
  </select>
  <select id="findByMailUserIdOrderByMailCreateTimeDesc" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_num_user_id =#{id} order by mail_create_time DESC
  </select>
  <select id="findByStatusAndMailUserId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_num_user_id =#{uid} and status=#{status}
  </select>
  <select id="findByMailUserNameLikeAndMailUserId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from aoa_mailnumber where mail_num_user_id =#{uid} and mail_user_name like #{key} order by mail_create_time DESC
  </select>
  <insert id="insertSelective" parameterType="cn.oasys.web.model.pojo.mail.AoaMailnumber">
    insert into aoa_mailnumber
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mailNumberId != null">
        mail_number_id,
      </if>
      <if test="mailAccount != null">
        mail_account,
      </if>
      <if test="mailCreateTime != null">
        mail_create_time,
      </if>
      <if test="mailDes != null">
        mail_des,
      </if>
      <if test="mailType != null">
        mail_type,
      </if>
      <if test="mailUserName != null">
        mail_user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="mailNumUserId != null">
        mail_num_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mailNumberId != null">
        #{mailNumberId,jdbcType=BIGINT},
      </if>
      <if test="mailAccount != null">
        #{mailAccount,jdbcType=VARCHAR},
      </if>
      <if test="mailCreateTime != null">
        #{mailCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mailDes != null">
        #{mailDes,jdbcType=VARCHAR},
      </if>
      <if test="mailType != null">
        #{mailType,jdbcType=BIGINT},
      </if>
      <if test="mailUserName != null">
        #{mailUserName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIGINT},
      </if>
      <if test="mailNumUserId != null">
        #{mailNumUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.oasys.web.model.pojo.mail.AoaMailnumber">
    update aoa_mailnumber
    <set>
      <if test="mailAccount != null">
        mail_account = #{mailAccount,jdbcType=VARCHAR},
      </if>
      <if test="mailCreateTime != null">
        mail_create_time = #{mailCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mailDes != null">
        mail_des = #{mailDes,jdbcType=VARCHAR},
      </if>
      <if test="mailType != null">
        mail_type = #{mailType,jdbcType=BIGINT},
      </if>
      <if test="mailUserName != null">
        mail_user_name = #{mailUserName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="mailNumUserId != null">
        mail_num_user_id = #{mailNumUserId,jdbcType=BIGINT},
      </if>
    </set>
    where mail_number_id = #{mailNumberId,jdbcType=BIGINT}
  </update>
</mapper>