<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oasys.web.model.dao.note.AoaNotepaperMapper">
  <resultMap id="BaseResultMap" type="cn.oasys.web.model.pojo.note.AoaNotepaper">
    <id column="notepaper_id" jdbcType="BIGINT" property="notepaperId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="notepaper_user_id" jdbcType="BIGINT" property="notepaperUserId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.oasys.web.model.pojo.note.AoaNotepaper">
    <result column="concent" jdbcType="LONGVARCHAR" property="concent" />
  </resultMap>

  <sql id="Base_Column_List">
    notepaper_id, create_time, title, notepaper_user_id
  </sql>
  <sql id="Blob_Column_List">
    concent
  </sql>
<select id="findByUserIdOrderByCreateTimeDesc" resultMap="ResultMapWithBLOBs">
  select <include refid="Base_Column_List"></include>
  ,<include refid="Blob_Column_List"></include>
  from aoa_notepaper where notepaper_user_id = #{id} order by create_time DESC LIMIT 0,5
</select>
<select id="findByUserIdOrderByCreateTimeDesc1" resultMap="ResultMapWithBLOBs">
  select <include refid="Base_Column_List"></include>
  ,<include refid="Blob_Column_List"></include>
  from aoa_notepaper where notepaper_user_id = #{id} order by create_time DESC
</select>
  <insert id="insertSelective" parameterType="cn.oasys.web.model.pojo.note.AoaNotepaper">
    insert into aoa_notepaper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="notepaperId != null">
        notepaper_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="notepaperUserId != null">
        notepaper_user_id,
      </if>
      <if test="concent != null">
        concent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="notepaperId != null">
        #{notepaperId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="notepaperUserId != null">
        #{notepaperUserId,jdbcType=BIGINT},
      </if>
      <if test="concent != null">
        #{concent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>