<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oasys.web.model.dao.schedule.AoaScheduleUserMapper">
    <resultMap id="BaseResultMap" type="cn.oasys.web.model.pojo.schedule.AoaScheduleUser">
        <result column="rcid" jdbcType="BIGINT" property="rcid"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <association property="aoaScheduleList" select="cn.oasys.web.model.dao.schedule.AoaScheduleListMapper.findOne" column="rcid"></association>
    </resultMap>

    <sql id="Base_Column_List">
        rcid, user_id
    </sql>
    <select id="findByUserId" resultMap="BaseResultMap">
        select rcid, user_id from aoa_schedule_user where user_id=#{id}
    </select>
    <insert id="insert" parameterType="cn.oasys.web.model.pojo.schedule.AoaScheduleUser">
        insert into aoa_schedule_user (rcid, user_id) values(#{rcid}, #{userId});
    </insert>
    <delete id="deleteUser">
        delete from aoa_schedule_user where rcid=#{rcid} and user_id not in
        <foreach collection="lon" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </delete>
</mapper>