<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oasys.web.model.dao.discuss.AoaVoteTitlesMapper">
    <resultMap id="BaseResultMap" type="cn.oasys.web.model.pojo.discuss.AoaVoteTitles">
        <id column="title_id" jdbcType="BIGINT" property="titleId"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="vote_id" jdbcType="BIGINT" property="voteId"/>

        <collection property="aoaVoteTitleUsers"
                    select="cn.oasys.web.model.dao.discuss.AoaVoteTitleUserMapper.findAoaVoteTitleUserBytitleId"
                    column="title_id"></collection>
    </resultMap>

    <sql id="Base_Column_List">
        title_id, color, title, vote_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from aoa_vote_titles
        where title_id = #{titleId,jdbcType=BIGINT}
    </select>
    <select id="findTitlesByVoteId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from aoa_vote_titles
        where vote_id = #{voteId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from aoa_vote_titles
        where title_id = #{titleId,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="cn.oasys.web.model.pojo.discuss.AoaVoteTitles">
        insert into aoa_vote_titles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="titleId != null">
                title_id,
            </if>
            <if test="color != null">
                color,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="voteId != null">
                vote_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="titleId != null">
                #{titleId,jdbcType=BIGINT},
            </if>
            <if test="color != null">
                #{color,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="voteId != null">
                #{voteId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertSelectives" parameterType="java.util.Set">
            insert into aoa_vote_titles
                   (color,
                    title,
                    vote_id) values
        <foreach collection="voteTitles" separator=","  item="item">
                   ( #{item.color,jdbcType=VARCHAR},
                    #{item.title,jdbcType=VARCHAR},
                    #{item.voteId,jdbcType=BIGINT})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.oasys.web.model.pojo.discuss.AoaVoteTitles">
        update aoa_vote_titles
        <set>
            <if test="color != null">
                color = #{color,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="voteId != null">
                vote_id = #{voteId,jdbcType=BIGINT},
            </if>
        </set>
        where title_id = #{titleId,jdbcType=BIGINT}
    </update>

</mapper>