<th:block th:fragment="signin">
    <div class="jichu kaoqin " style="cursor: pointer;">
        <div class="wenzi">
            <a class="attendce" style="text-decoration: none; color:white;" th:if="${type != 46 && type != 47}">
                <h2 class="">
                    <th:block th:if="${not #strings.isEmpty(alist)}">
                        [[${alist?.attendHmtime}]]
                    </th:block>
                    <th:block th:if="${ #strings.isEmpty(alist)}">
                        未签到
                    </th:block>
                </h2>
            </a>
            <a  style="text-decoration: none; color:white;" th:if="${type == 46 || type == 47}">
                <br>
                <br>
                <h2 class="">
                </h2>
            </a>
            <p th:if="${type != 46 && type != 47}">
                点击<span class="glyphicon glyphicon-hand-up"></span>
                <th:block th:if="${not #strings.isEmpty(alist)}">
                   下班
                </th:block>
                <th:block th:if="${ #strings.isEmpty(alist)}">
                    签到
                </th:block>
            </p>
            <p th:if="${type == 46}">
                <span class="glyphicon glyphicon-hand-up"></span>
               假期
            </p>
            <p th:if="${type == 47}">
                <span class="glyphicon glyphicon-hand-up"></span>
               出差
            </p>
        </div>
        <div class="iconfont">
            <span class="glyphicon glyphicon-time"></span>
        </div>
        <a href="attendcelist" class="moreduo"> 更多 <span
                class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    <th:block th:if="${not #strings.isEmpty(error)}">
        <th:block th:if="${error=='1'}">
            <script>
	        $(function(){
		        alert("亲 不能签到，不在正常签到时间内！");
	        })

            </script>
        </th:block>
        <th:block th:if="${error=='2'}">
            <script>
	            $(function(){
		            alert("亲 还没有到签到时间哦");
	            })
            </script>
        </th:block>
    </th:block>
    <script>
	$(".attendce").on('click',function(){
		 var r=confirm("您确定签到吗");
		 if(r==true){
		    $("#refresh").load('singin');
		}
	});
    </script>
</th:block>