<html th:fragment="statustable" xmlns:th="http://www.thymeleaf.org">
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th scope="col">模块</th>
			<th scope="col">状态</th>
			<th scope="col">排序值</th>
			<th scope="col">颜色</th>
			<th scope="col">操作</th>
		</tr>
		<tr th:each="statuss,status: ${statusList}">
			<td><span>[[${statuss?.statusModel}]]</span></td>
			<td><span>[[${statuss?.statusName}]]</span></td>
			<td><span>[[${statuss?.sortValue}]]</span></td>
			<td><span>[[${statuss?.statusColor}]]</span></td>
			<td><a th:href="@{'statusedit?statusid='+${statuss?.statusId}}"
				class="label xiugai"><span class="glyphicon glyphicon-edit"></span>
					修改</a> <a href="##" class="label xiugai"><span
					class="glyphicon glyphicon-search"></span> 查看</a> <a
				onclick="{return confirm('删除该记录将不能恢复，确定删除吗？');};"
				th:href="@{'deletestatus?id='+${statuss?.statusId}}" class="label shanchu"><span
					class="glyphicon glyphicon-remove"></span> 删除</a></td>
		</tr>
	</table>
</div>
